<!DOCTYPE HTML>
<html ng-app="RizApp">
	<head>
		<!--[if IE]>
	      	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	      <![endif]-->
	    <title> Dynamic Form Fields</title>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>

		<div class="container">

			<div class="row">

				<h3> STEAM Form Fields</h3>

				<hr/>

				  <div ng-controller="rizCtrl">
					   <select>
                            <option value="ngss">NGSS</option>
                            <option value="ccss">CCSS</option>
                            <option value="ngss-ccss">NGSS+CCSS</option>
                        </select>
						<input type="text" ng-model="choice.name" placeholder="Enter sub choice">
                    <fieldset data-ng-repeat="choice in choices">
						<div class="my-group">
							<input type="text" ng-model="choice.id" placeholder="Enter sub choice">
							<input type="text" ng-model="choice.name" placeholder="Enter sub choice">
							<button type="button" class="remove" ng-click="removeChoice(choice)">-</button>
						</div>
                    </fieldset>
                    <button type="button" class="addfields" ng-if="choices.length < 3" ng-click="addNewChoice()">+Add fields</button>


                </div>
				
			</div>

		</div>
		

	</body>
</html>
